<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
			/WEB-INF/applicationContext_db.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>com.hannah.web.server.system.ContextLoaderListenerExt</listener-class>
	</listener>

	<servlet>
		<servlet-name>hessianService</servlet-name>
		<servlet-class>com.hannah.web.server.system.HessianServletExt</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hessianService</servlet-name>
		<url-pattern>/hessianService/*</url-pattern>
	</servlet-mapping>

</web-app>
